* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	background: rgb(244, 243, 243);
}

body{
	margin-top:50px;
}
.wrapper {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	font-family: Raleway, sans-serif;
	font-weight: 400;

}

.profile {
	display: flex;
	justify-content: flex-start;

}


h2 {
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: rgb(71, 60, 60);
}

.profile img {
	width: 120px;
	height: 100%;
	margin-right: 50px;
	border: 1px solid white;
	border-radius: 5%;
}

.profile-info__list {
	margin-top: 15px;
	list-style-type: none;
}

.info-bold {
	font-weight: 700;
}

.profile-info__list li {
	padding-bottom: 5px;
}

h1 {
	transition: 0.3s;
	cursor: pointer;
}

h1:hover {
	transform: scale(1.05);
}

h3 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 20px;
}

.about-text {
	width: 680px;
}

.skills-list,
.list-courses,
.languages-list {
	margin-left: 15px;
}

.language-name {
	font-weight: 700px;
}

footer {
	margin: 30px 0;
}

.footer-year {
	font-size: 14px;
	color: rgb(63, 63, 63);

}

.rs-school {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.rs-school img {
	margin-right: 15px;
}

.nav-content {
	display: flex;
	justify-content: flex-start;
}

.nav-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}

.nav-list li {
	margin: 0px 20px;
	cursor: pointer;
	transition: 0.3s;
	color: rgb(83, 83, 83);
	font-weight: 700;
}

.nav-list li:nth-child(1) {
	margin-left: 150px;
}

.nav-list li:hover {
	color: black;
	transform: scale(1.1);
}

.rs-school img {
	width: 60px;
	height: 100%;
}

.rs-school {
	margin: 15px 0;
}
